*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.header-hero-wrap {
    background-color: #2E2E2E;
}
.nav-wrap {
    padding-top: 40px;
}

.navbar {
    margin-left: 10%;
    margin-right: 10%;
    height: 100px;
    background-color: #2D2D2D;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: 1px solid gray;
    border-radius: 3px;
}

.hero-content {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white; 
}

.head{
    margin-top: 1px;
    margin-bottom: 15px;
    font-size: 400%; 
} 


ul{
    display: flex;
    list-style-type: none;
}

.nav-ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: white;
}

.contact-btn{
    padding: 15px 25px !important;
    background-color: black;
    border: 1px solid white;
    
}


.cta{  
    margin-top: 25px;
    background-color: #06dd7e;
    width: 190px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #06dd7e;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cta:hover {
    background-color: white;
    border: 1px solid black;
}

.hero-img{
    height: 600px;
    width: 600px;
}

@media screen and (max-width: 1230px) {
    .hero-content {
        flex-direction: column;
        align-items: center;
    }
    .hero-img {
        height: 400px;
        width: 400px;
    }
}

@media screen and (max-width: 600px) {
    .hero-img {
        height: 400px;
        width: 300px;
    }
}

    /*2nd Part*/

.header-hero-wrap2 {
    background-color: #F1F1F1;
}


.hero-content2 {
    padding-top: 120px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    color: black;
}

.head2 {
    margin-top: 1px;
    margin-bottom: 15px;
    font-size: 500%;
}

.hero-img2 {
    height: 650px;
    width: 650px;
}

.cta2 {
    margin-top: 25px;
    background-color: #2E2E2E;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #242424;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow-right {
    margin-left: 5px;
}
.cta2:hover {
    border: 1px solid black;
}



    /*3rd part*/

    
.hero-content3 {
  /*  padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;*/
    background-color:#F1F1F1 ;
     display: flex;
    justify-content: space-between; 
}


.head3 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 600%; 
    font-weight: 500;
}
    

section {
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #F1F1F1;
}

.our-services {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.talent-img {
    padding-top: 80px;
    padding-right: 50%;
    width: 300px;
    height: 200px; 
}

.talent {
    padding-top: 100px;
    padding-right: 30%;
    font-size: 100%;
}

.talent-representation h1 {
    font-size: 40px;
    font-weight: 200;
}

.talent-representation {
    border-right: 0.1px solid black;
}

.media-img {
    padding-top: 80px;
    padding-right: 50%;
    width: 300px;
    height: 200px; 
}


.media {
    padding-top: 100px;
    padding-right: 30%;
    font-size: 100%;
}

.media-management h1 {
    font-size: 40px;
    font-weight: 200;
}

.media-management {
    border-right: 0.1px solid black;
}

.video-img {
    padding-top: 80px;
    padding-right: 50%;
    width: 300px;
    height: 200px; 
}


.video { 
    padding-top: 100px;
    padding-right: 30%;
    font-size: 100%;
}

.video-production h1 {
    font-size: 40px;
    font-weight: 200;
}

.video-production {
    border-right: 0.1px solid black;
}

.product-img {
    padding-top: 80px;
    padding-right: 50%; 
    width: 300px;
    height: 200px; 
}


.product {
    padding-top: 100px;
    padding-right: 30%;
    font-size: 100%;
}

.product-devlopment h1 {
    font-size: 40px;
    font-weight: 200;
}

.product-devlopment {
    border-right: 0.1px solid black;
}


/* 4th part */

.hero-header-3 {
    padding-top: 8px;
    background-color: #F1F1F1;
}

.xyz-summit {
    padding-top: 180px;
    display: flex;
   justify-content: space-between;
}

.xyz-img {
    width: 550px;
    height: 500px;
}
.right-xyz {
    width: 462px;
}
.head-xyz {
    font-size: 80px;
}

.paragraph-xyz {
    padding-top: 10px;
    font-size: 25px;
    font-weight: 400;
}


/* 5th part */

.head-5 {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 200px;
    background-color: #2D2D2D;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    border-radius: 20px;
}

.gang-img {
    padding-right: 80px;
    height: 400px;
    width: 350px;
}

.join-the-gang {
    margin-top: 30px;
    color: white;
    font-size: 60px;
}

.gang-para {
    padding-top: 20px;
    font-size: 25px;
    font-weight: 80;
    color: white;
}

.cta3 {
    margin-top: 25px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px;
}


.cta:hover3 {
    background-color: white;
    border: 1px solid white;
}

.explore {
    margin: 2px;
}


/* mobile responsive */


@media screen and (max-width: 1230px) {
    .hero-content2 {
        flex-direction: column;
        align-items: center;
    }
    .hero-img2 {
        height: 400px;
        width: 400px;
    }
    .our-services {
        flex-direction: column;
    }
    .video-img, .media-img, .product-img, .talent-img {
        width: auto;
    }
    .talent-representation, .product-devlopment, .media-management, .video-production {
        border-right: 0;
    }
    /* xyz summit */

    .xyz-summit {
        flex-direction: column;
        align-items: center;
    }

    /* 5th part */

    .head-5 {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .hero-img3 {
        height: 400px;
        width: 300px;
    }
}

@media screen and (max-width: 1052px) {
    .gang-img {
        width: 100%;
        padding-right: 0;
    }
}

@media screen and (max-width: 800px) {
    .head-5 {
        margin-left: 3%;
        margin-right: 3%;
    }
}